# ignore all
*

# unignore directory
!*/

# unignore c/c++/h file
!*.c
!*.cpp
!*.h

# unignore csv file
!*.csv

# unignore txt file
!*.txt

# unignore .gitignore
!.gitignore

# unignore makefile
!makefile
